* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.neu-button {
    background-color: black;
    border-radius: 50px;
    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
    color:white;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 40px;
    transition: all 0.2s ease-in-out;
    border: 2px solid rgb(206, 206, 206);
    margin: auto;
  }
  
  .neu-button:hover {
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
  }
  
  .neu-button:focus {
    outline: none;
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
  }
  .btn{
    margin-top: 20px;
    margin-left: 20px;
    gap: 30px;
    /* text-align: center;
    margin-top: 500px; */
    position: absolute;
  }
  .tuo{
    position: relative;
    width: auto;
  }
  